# Production API Backend Endpoint (Render / Custom Server)
VITE_API_BASE_URL=https://interview-ai-backend.onrender.com/api/v1

# Production Socket.io WebSockets Endpoint
VITE_SOCKET_URL=https://interview-ai-backend.onrender.com
